<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Files</title>
  </head>
  <body>
    <h1>Files in My Folder</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <td><a href="{{ url_for('serve_file', filename=file) }}">{{ file }}</a></td>
          <td>{{ get_file_size(file) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
